
<div class="row">
  <div class="container">
  <p id=”alert”><%= alert %></p></div>

  <div class="col-md-4 col-md-4 col-md-4  mx-auto"></div>
  <div class="col-sm-8 col-md-7 col-lg-4 mx-auto">
    <div class="card card-signin my-5">

      <div class="card-body ">
        <div class="card-title text-center"><h3><strong>Sign In</strong></h3></div>
        <%= form_tag sessions_path, local: true do |form| %>
          <div class="form-signin">

            <div class="form-label-group">
              <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
              <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
              <input type="password" name="password" id="password" class="form-control" placeholder="Password" required autofocus>
              <label for="inputPassword">Password</label>
            </div>

            <div class=”actions”>
              <%= submit_tag 'Log in', class: 'btn btn-primary btn-block text-uppercase' %></div>
            <p>
              <br>
              Not a Member?  <%= link_to 'Sign Up', new_user_path%>
            </p>



          </div>
          </div>
          </div>
          </div>
          </div>
        <%end %>